<div id="videocontainer">

	<video id="introvideo" src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4" width="90%"
		type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"'>
	</video>

	<div>
	  <button onclick="introvideo.play()">Play the Video</button>
	  <button onclick="introvideo.pause()">Pause the Video</button>
	  <button onclick="introvideo.rewind()">Rewind the Video</button>
	  <button onclick="introvideo.volume+=0.1">Increase Volume</button>
	  <button onclick="introvideo.volume-=0.1">Decrease Volume</button>
	</div>

</div>