<video id="introvideo" src="http://www.quirksmode.org/html5/videos/big_buck_bunny.mp4">
</video>

<div>
  <button onclick="introvideo.play()">Play the Video</button>
  <button onclick="introvideo.pause()">Pause the Video</button>
  <button onclick="introvideo.rewind()">Rewind the Video</button>
  <button onclick="introvideo.volume+=0.1">Increase Volume</button>
  <button onclick="introvideo.volume-=0.1">Decrease Volume</button>
</div>