<div id="ViewContainer">
	<div class="backgroundimage">
		<div class="background-top">
		</div>
		<div class="background-middle">
		</div>
		<div class="background-bottom">
		</div>
	</div>


	<%= image_tag("logo.png", class: "logo") %>

	<%= image_tag("logo-down.png", class: "logodown") %>

	<%= image_tag("tableAndStuff.png", class: "tablestuff") %>

	<div id="ButtonContainer">
		<div class="featureButton">
			<div class="normal"></div>
			<div class="active"></div>
		</div>
		<div class="featureButton">
			<div class="normal"></div>
			<div class="active"></div>
		</div>
		<div class="featureButton">
			<div class="normal"></div>
			<div class="active"></div>
		</div>
	</div>
</div>


