<div class="backgroundimage">
	<div class="background-top">
		<%= image_tag("background-up.png") %>
	</div>
	<div class="background-middle">
		<%= image_tag("background-middle.png") %>
	</div>
	<div class="background-bottom">
		<%= image_tag("background-bottom.png") %>
	</div>
</div>

