<div class="container">
	<div class="logo">
	</div>
	<div class="empty1">
	</div>
	<div class="menu">
	</div>
	<div class="empty2">
	</div>
	<div class="screen">
	</div>
	<div class="empty3">
	</div>
</div>
<!-- 
<div id="echo" data-uri="<%= request.host %>:<%= request.port %>/websocket">
    <ul id="messages"></ul>
    <input id="send"/>
    <button id="fire">Send</button>

    <button id="left">Go left!</button>
    <button id="right">Go right!</button>
    <div id="direction" style="background:tomato;width:150px;height:30px;margin-top:5px"></div>
</div>


 -->