@import "bourbon";
@import "neat";
	
	$grid-columns: 5;
	$max-width: em(1055);
	// $column: golden-ratio(1em, 3);

#icon-container{
	@include outer-container();
	margin-top: 15em;

}

.dashboard-item{
		img{
			max-width: 26%;
			height: auto;	
	}
}


.dashboard-item:nth-child(1){
	margin-left: 4em;
	}

.dashboard-item:nth-child(2){
	img{
			max-width: 34%;
			// padding: 3em;
		}
	}
	.dashboard-item:nth-child(3){
	img{
			margin-left: 1em;
		}
	}

