// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bourbon";
@import "neat";

$grid-columns: 5;
$elements: project-covers, sorting-bar, modals, navigation;


.container{
	@include outer-container();
		min-width: 80%;
		max-width: 95%;

	.logo{
			// background: white;
			// opacity: 0.7;
			height: 27%;
			@include span-columns(1);
		
		img{
			max-width:130%;
			height:auto;
		}
	}

	.empty1{
		// background: white;
		// opacity: 0.7;
		height: 2em;

		@include span-columns(2);
	}


	.menu{
		height: 6em;
		// margin-left: 10em;
		@include span-columns(2);
		@include omega();
			img{
				position: fixed;
				top: -1em;
				right: 1em;
				width: 23em;
			}
	}

	.empty2{
		background: white;
		opacity: 0.7;
		@include span-columns(1);
	}

	.screen{
		// background: white;
		// opacity: 0.7;
		min-width: 38em;
		max-width: 40em;
		margin-top:5%;
		margin-bottom: 3%; 
		// @include shift(1);
		@include span-columns(3);
		@include omega();
			
			img{
			 // border: 1px solid red;
		}

	}

	.empty3{
		background: white;
		opacity: 0.7;
		@include span-columns(1);
	}

	.ontable{
		height: 2px;
		margin-top: -10%;
		@include span-columns(5);
		z-index: 1500;
	}

	.image{
		// background: tomato;
		// opacity: 0.7;
		height: 12em;
		margin-top:1em;
		margin-right: 2em;
		@include shift(1);
		@include span-columns(1 of 5);
	}

	.player{
		// background: tomato;
		// opacity: 0.7;
		height: 6em;	
		@include span-columns(1 of 5);
	}

	.lamp{
		// background: tomato;
		// opacity: 0.7;
		margin-left: 10%;
		max-width: 10%;	
		height: auto;
		@include span-columns(1 of 5);
		@include omega();
			img{

		}

	}

	
	.table{
		// background: white;
		opacity: 0.7;
		height: 12em;
		// @include shift(-1);
		@include span-columns(5);
		@include omega();
			img{
				// opacity: 0%;
				max-width: 86em;
				margin-top: -46em;
				z-index: 1500;
			}
		.buttonbox{
			position: relative;
			margin-top: 8%;
			left:23%;

			button.feature{
				width: 20em;
				margin: 1em;
			
			}
			button.feature.active{
				background: MEDIUMSPRINGGREEN;
			
			}
		}
	}


	img{
		max-width: 100%;
		// height: auto;
	}

	#logodown{
			// position: fixed;
			margin-top: -8.5em;
			max-width: 20em;
			height: auto;
			z-index: -1000;
			@include span-columns(2);
			@include shift(4);
	}

}

body{
	background: #C4C2C1;
	// background-image: asset-url("background.png");
	// background-size: 100%;
	// background-repeat: no-repeat
}

#messages{
	color: grey;
}

#echo{
	margin-top:5em;
	@include span-columns(5);

	#timetogo{
		width: 100px;
		height: 30px;
		background: turquoise;
	}
}

div#userinput{
	background: NAVAJOWHITE;
	width: 450px;
	height: 200px;
	position: absolute;
	top:35%;
	left:31%;

	input#bill{
		margin-left: 111px;
		margin-top: 70px;
		width: 230px;
		height: 50px;
		border:0;

	}
}
