// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bourbon";
@import "neat";

.container{
	@include outer-container;
}

.logo{
	background: white;
	height: 200px;
	opacity: 0.7;
	@include span-columns(3);
}

.empty1{
	background: white;
	height: 200px;
	opacity: 0.7;
	@include span-columns(6);
}

.menu{
	background: white;
	height: 130px;
	opacity: 0.7;
	@include span-columns(3);
	@include omega();
}

.empty2{
	background: white;
	opacity: 0.7;
	@include span-columns(3);
}

.screen{
	background: white;
	min-width: 640px;
	max-width: 640px;
	height: 400px;
	opacity: 0.7;
	margin-top:20px; 
	@include shift(3);
	@include span-columns(6);
}


.empty3{
	background: white;
	opacity: 0.7;
	@include span-columns(3);
}

body{
	background-image: asset-url("00.jpg");
	background-size: 100%;
	background-repeat: no-repeat

}

